.red {
    color: red;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.green {
    color: lime;
}

.darkgreen {
    color: darkgreen;
}

.blue {
    color: blue;
}

.indigo {
    color: indigo;
}

.violet {
    color: violet;
}

.gray {
    color: gray;
}

.white {
    color: white;
}

/* Custom */

.aquaticBlue {
    color: #00fffa;
}